VITE_API_URL=http://127.0.0.1:8000/api

# Identitas Klien / Branding
VITE_BRAND_NAME="Apotek Asy-Syifa"
VITE_BRAND_TAGLINE="Apotek Online"
VITE_BRAND_ADDRESS="Jl. Kesehatan No. 123, Kota"
VITE_BRAND_LICENSE="SIPA: 446/001/SIPA/2026"
VITE_BRAND_PHONE=
VITE_BRAND_RECEIPT_FOOTER="Terima Kasih & Semoga Lekas Sembuh"
